.et-electronics {
.et-crystal {
.et-laser {
.et-plasma {
.et-1  {background-image: url(https://sgu-game.cz/img/enemy_technology/001-coding.png);}
.et-2  {background-image: url(https://sgu-game.cz/img/enemy_technology/001-database.png);}
.et-3  {background-image: url(https://sgu-game.cz/img/enemy_technology/002-brain.png);}
.et-4  {background-image: url(https://sgu-game.cz/img/enemy_technology/002-database.png);}
.et-5  {background-image: url(https://sgu-game.cz/img/enemy_technology/005-coding.png);}
.et-6  {background-image: url(https://sgu-game.cz/img/enemy_technology/006-database.png);}
.et-7  {background-image: url(https://sgu-game.cz/img/enemy_technology/006-settings.png);}
.et-8  {background-image: url(https://sgu-game.cz/img/enemy_technology/007-coding.png);}
.et-9  {background-image: url(https://sgu-game.cz/img/enemy_technology/007-database.png);}
.et-10 {background-image: url(https://sgu-game.cz/img/enemy_technology/008-database.png);}
.et-11 {background-image: url(https://sgu-game.cz/img/enemy_technology/009-database.png);}
.et-12 {background-image: url(https://sgu-game.cz/img/enemy_technology/011-coding.png);}
.et-13 {background-image: url(https://sgu-game.cz/img/enemy_technology/011-network.png);}
.et-14 {background-image: url(https://sgu-game.cz/img/enemy_technology/012-network.png);}
.et-15 {background-image: url(https://sgu-game.cz/img/enemy_technology/013-network.png);}
.et-16 {background-image: url(https://sgu-game.cz/img/enemy_technology/014-idea.png);}
.et-17 {background-image: url(https://sgu-game.cz/img/enemy_technology/014-network.png);}
.et-18 {background-image: url(https://sgu-game.cz/img/enemy_technology/015-project.png);}
.et-19 {background-image: url(https://sgu-game.cz/img/enemy_technology/017-coding.png);}
.et-20 {background-image: url(https://sgu-game.cz/img/enemy_technology/018-database.png);}
.et-21 {background-image: url(https://sgu-game.cz/img/enemy_technology/019-database.png);}
.et-22 {background-image: url(https://sgu-game.cz/img/enemy_technology/020-database.png);}
.et-23 {background-image: url(https://sgu-game.cz/img/enemy_technology/021-coding.png);}
.et-24 {background-image: url(https://sgu-game.cz/img/enemy_technology/021-database.png);}
.et-25 {background-image: url(https://sgu-game.cz/img/enemy_technology/022-database.png);}
.et-26 {background-image: url(https://sgu-game.cz/img/enemy_technology/019-database.png);}
.et-27 {background-image: url(https://sgu-game.cz/img/enemy_technology/020-database.png);}
.et-28 {background-image: url(https://sgu-game.cz/img/enemy_technology/021-coding.png);}
.et-29 {background-image: url(https://sgu-game.cz/img/enemy_technology/021-database.png);}
.et-30 {background-image: url(https://sgu-game.cz/img/enemy_technology/022-database.png);}
.et-31 {background-image: url(https://sgu-game.cz/img/enemy_technology/024-coding.png);}
.et-32 {background-image: url(https://sgu-game.cz/img/enemy_technology/024-database.png);}
.et-33 {background-image: url(https://sgu-game.cz/img/enemy_technology/027-database.png);}
.et-34 {background-image: url(https://sgu-game.cz/img/enemy_technology/028-share.png);}
.et-35 {background-image: url(https://sgu-game.cz/img/enemy_technology/030-database.png);}
